# Ignore CMake related files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/Makefile

# Ignore library files
*.a

# Ignore files related to the notes.
*.aux
*.bbl
*.blg
*.log
*spl
*synctex.gz
*.eps
*.bib

# Ignore PDF files
*.pdf

# Ignore .o .exe files
*.o
*.exe

# Ignore .csv files
*.csv

*checkpoint.ipynb
*.tar