# Ignore files related to the notes.
*.aux
*.bbl
*.blg
*.log
*spl
*synctex.gz
*.eps
*.bib

# Ignore PDF files
*.pdf

# Ignore .o .exe files
*.o
*.exe

# Ignore .csv files
*.csv
*.txt

*checkpoint.ipynb
*.tar
